.fq_tabs_fq{
    font-size: 18px;
    font-weight: bold;
}
.fq_table_region{
    font-weight: bold;
}

hr{
    border-top: 2px solid red;
}
@media screen and (max-width: 320px ) and (min-width: 200px){
    .fq_tabs_fq{
        font-size: 16px;
        color: red;
        text-align: center;
        margin-top: 10%;
        font-weight: bold;
    }
    .fq_table_region{
        font-weight: bold;
        font-size: 13px;
    }
    .region-text{
        font-size: 13px;
        line-height: 20px;
    }
}
@media screen and (max-width: 380px ) and (min-width: 340px){
    .fq_tabs_fq{
        font-size: 16px;
        color: red;
        text-align: center;
        margin-top: 10%;
        font-weight: bold;
    }
    .fq_table_region{
        font-weight: bold;
        font-size: 13px;
    }
    .region-text{
        font-size: 13px;
        line-height: 21px;
    } 
}
@media screen and (max-width: 430px ) and (min-width: 400px){
    .fq_tabs_fq{
        font-size: 18px;
        color: red;
        text-align: center;
        margin-top: 10%;
        font-weight: bold;
    }
    .fq_table_region{
        font-weight: bold;
        font-size: 14px;
    }
    .region-text{
        font-size: 14px;
        line-height: 24px;
    } 
}
@media screen and (max-width: 510px ) and (min-width: 490px){
    .fq_tabs_fq{
        font-size: 19px;
        color: red;
        text-align: center;
        margin-top: 10%;
        font-weight: bold;
    }
    .fq_table_region{
        font-weight: bold;
        font-size: 14px;
    }
    .region-text{
        font-size: 15px;
        line-height: 25px;
    } 
}
@media screen and (max-width: 610px ) and (min-width: 550px){
    .fq_tabs_fq{
        font-size: 20px;
        color: red;
        text-align: center;
        margin-top: 10%;
        font-weight: bold;
    }
    .fq_table_region{
        font-weight: bold;
        font-size: 14px;
    }
    .region-text{
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width: 770px ) and (min-width: 650px){
    .fq_tabs_fq{
        font-size: 22px;
        color: red;
        text-align: center;
        margin-top: 10%;
        font-weight: bold;
    }
    .fq_table_region{
        font-weight: bold;
        font-size: 14px;
    }
    .region-text{
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width: 1030px ) and (min-width: 800px){
    .fq_tabs_fq{
        font-size: 25px;
        color: red;
        text-align: center;
        margin-top: 3%;
        font-weight: bold;
    }
    .fq_table_region{
        font-weight: bold;
        font-size: 16px;
    }
    .region-text{
        font-size: 16px;
        line-height: 30px;
    }
}
@media screen and (max-width: 1290px ) and (min-width: 1100px){
    .fq_tabs_fq{
        font-size: 28px;
        color: red;
        text-align: center;
        margin-top: 3%;
        font-weight: bold;
    }
    .fq_table_region{
        font-weight: bold;
        font-size: 22px;
    }
    .region-text{
        font-size: 22px;
        line-height: 40px;
    }
}
@media screen and (max-width: 1410px ) and (min-width: 1300px){
    .fq_tabs_fq{
        font-size: 32px;
        color: red;
        text-align: center;
        margin-top: 3%;
        font-weight: bold;
    }
    .fq_table_region{
        font-weight: bold;
        font-size: 24px;
    }
    .region-text{
        font-size: 24px;
        line-height: 45px;
    }
}
@media screen and (max-width: 1690px )and (min-width: 1500px){
    .fq_tabs_fq{
        font-size: 35px;
        color: red;
        text-align: center;
        margin-top: 3%;
        font-weight: bold;
    }
    .fq_table_region{
        font-weight: bold;
        font-size: 29px;
    }
    .region-text{
        font-size: 29px;
        line-height: 45px;
    }
}